head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
  script(src='http://code.angularjs.org/1.2.6/angular-route.min.js')
  link(rel='stylesheet', href='http://getbootstrap.com/dist/css/bootstrap.css')
  link(rel='stylesheet', href='http://getbootstrap.com/examples/starter-template/starter-template.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  script(src='/build/build.js')
  link(rel='stylesheet', href='/build/build.css')
